extends layout

block content
  button.btn( class="btn-primary ml-1", onclick="create()") Create
  h1= 'Search Result: ' + title
  - rangers = results  

  div(class="container-fluid")
    div(class="row g-2 mt-3 m-1")
      - index = 0
        each ranger in rangers
          - let destination = `dispatch(\"/power_ranger/update/?id=${ranger._id}\")`
          - let detail = `dispatch(\"/power_ranger/detail/?id=${ranger._id}\")`
          - let deletes = `dispatch(\"/power_ranger/delete/?id=${ranger._id}\")`
          -
            let bgClass = "bg-light"
            if(ranger.rangerColor == "Red") bgClass = "bg-danger text-white"
            else if(ranger.rangerColor == "Blue") bgClass = "bg-primary text-white"
            else if(ranger.rangerColor == "Green") bgClass = "bg-success text-white"
            else if(ranger.rangerColor == "Yellow") bgClass = "bg-warning text-dark"
            else if(ranger.rangerColor == "Black") bgClass = "bg-dark text-white"

          div(
            class="col-sm-2 p-2"
            onclick=`buy(${index})`
          )
            div(class=`border rounded shadow-sm p-2 ${bgClass} text-center`)
              p(class="mb-1 fw-bold") #{ranger.rangerColor}
              p(class="mb-1") #{ranger.rangerPower}
              p(class="mb-0") #{ranger.rangerStrength}
              button.btn( class="btn-primary ml-1", onclick=destination) Update
              button.btn( class="btn-secondary ml-1", onclick=detail) Detail
              button.btn( class="btn-warning ml-1", onclick=deletes) Delete
              
          - index++

  script.
    var rangers = results

    function buy(index){
      alert("You bought " + rangers[index].rangerColor)
    }
  script.
   function dispatch(path){
    window.location.href=path
   }
  script. 
   function create(){
    window.location.href= "/power_ranger/create"
   }