extends layout

block content
  h1= title

  if !toShow
    h2 No Item To update

  else
    - let rangerId = toShow._id
    - let rangerColor = toShow.rangerColor
    - let rangerPower = toShow.rangerPower
    - let rangerStrength = toShow.rangerStrength

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{rangerId}

    - let actionid = "/resource/rangers/" + rangerId

    form(id='RangerForm', action=actionid, method="PUT")

      div.form-group
        label.rangerAttr(for='rangerColor') Ranger Color
        input#rangerColor(type='text', name='rangerColor', value=rangerColor)

      div.form-group
        label.rangerAttr(for='rangerStrength') Ranger Strength
        input#rangerStrength(type='text', name='rangerStrength', value=rangerStrength)

      div.form-group
        label.rangerAttr(for='rangerPower') Ranger Power
        input#rangerPower(type='number', name='rangerPower', value=rangerPower)

      input(type="submit")

      button.btn.btn-secondary.m-2(type="button" onclick="cancel()") Cancel

  script.
    document.forms['RangerForm'].addEventListener('submit', (event) => {
      event.preventDefault();

      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target))
      })
      .then(resp => resp.json())
      .then(() => {
        alert("Update succeeded")
      })
      .catch(error => {
        alert("Update failed " + error)
      });
    });

  script.
    function cancel(){
      window.location.href = "/power_ranger"
    }