extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to delete
 else
  - let rangerId = toShow._id
  - let rangerColor = toShow.rangerColor
  - let rangerStrength = toShow.rangerStrength
  - let rangerPower = toShow.rangerPower
  - let actionid = "/resource/rangers/" + rangerId
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='costumeAttr mr-3') Ranger ID is:
    div #{rangerId}
   div.row
    div(class='costumeAttr mr-3') Ranger Color is:
    div #{rangerColor}
   div.row
    div(class='costumeAttr mr-3') Ranger Strength is:
    div #{rangerStrength}
   div.row
    div(class='costumeAttr mr-3') Ranger Power is:
    div #{rangerPower}
  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 script.
  function cancel() {
  // Go back to the home page for the costume collection
   window.location.href='/power_ranger'
  }
 script.
  function deleteOnid() {
   console.log("starting delete")
   // delete first
   fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Delete succeded")
    window.location.href='/power_ranger'
    // TODO handle body
   }).catch((error) => {
   // TODO handle error
    alert("Delete failed " + error )
   });
  }
